<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>  
    <fieldset>
        <legend>Survey Results</legend>
        <p>Name: <%=results.name%></p>
        <p>Location: <%=results.location%></p>
        <p>Language: <%=results.language%></p>
        <p>Comment: <%=results.comment%></p>
    </fieldset>
    
</body>
</html>